
* {
	margin: 0;
	padding: 0;
	
}
body{
	font-family: 'Archivo Black', sans-serif;
	background-color: darkslategrey;
	
}

.contener {
	background-color: steelblue;
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows:  900px auto auto auto auto auto auto 1fr 1fr ;
	
}

.nav {
	background-color: red;
	color: whitesmoke;
	position: fixed;
	width: 100%;
	text-align: right;

	
}

li{
	list-style: none;
	display: inline-block;
	color: whitesmoke;
	padding: 5px;
	margin: 10px;
	font-size: ;
	
}

.box {
	
	text-align: center;
	margin: 20px;
	
}

.stardBox {
	background-color: black;
	height: 100%;
	color: white;
	grid-column: auto;
	grid-row: 1/2 ;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	
}

.boxElemment1 {
	grid-column: auto;
	grid-row: 2/3 ;

}

.boxElemment2 {
	grid-column: auto;
	grid-row: 3/4;
}

.boxElemment3 {
	grid-column: auto;
	grid-row: 4/5 ;
}

.boxElemment4 {
	grid-column: auto;
	grid-row: 5/6 ;
}

.boxElemment5 {
	grid-column: auto;
	grid-row: 6/7;
}

.boxElemment6 {
	grid-column: auto;
	grid-row: 7/ 8;
}
footer{
	grid-column: auto;
	grid-row:8/9 ;
}
img{
width: 100%;
}

h4{
	background-color: black;
	color: whitesmoke;
	padding: 20px;

}

h3{
	color: whitesmoke;
	padding: 20px;
	font-size: 35px;
	margin-bottom: 35px;
	border-bottom: 2px solid whitesmoke;
}	

h2{
	color: red;
	padding: 20px;
	font-family: 'Montserrat', sans-serif;
	
}

h1{
	color: whitesmoke;
	padding: 20px;
	font-size: 60px;
}